extends layout

block content
  h1= title
  p Welcome to #{title}

  each item, index in result
    p
      ul
        li
          a(href='item.value.url', target='_blank') lien vers l'annonce
        if item.value.description
          li description : #{item.value.description}
        if item.value.prix
          li prix : #{item.value.prix}
        if item.value.tel
          li telephone : #{item.value.tel}
        if item.value.url
          li surface : #{item.value.surface}
        if item.value.honoraires
          li honoraires : #{item.value.honoraires}


